name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.x"
      - uses: extractions/setup-just@v3

      - run: just dep-web setup-e2e ci
        env:
          INNOAI_TECH_REGISTRY_AUTH_TOKEN: ${{ github.token }}

      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          folder: public/openapi-playground
          repository-name: innoai-tech/openapi-playground
          branch: main
          ssh-key: ${{ secrets.OPENAPI_PLAYGROUND_DEPLOY_KEY }}
          clean: true

      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          folder: public/vuekit
          branch: gh-pages
          clean: true
